/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* hides horizontal scrolling on the website */
body{
  overflow-x: hidden;
}

header{
  background-image: url('../img/ericnam_home_banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  width: 100vw;
}

/* Images put in..made sure ID was used as these are unique and added the targeted style for the <a> to be white on the other pages.*/
#about_hero{
  background-image: url('../img/about_banner.png');
}

#about_hero a{
  color: #fff;
}

#tour_hero{
  background-image: url('../img/ericnam_about.jpg');
}

#tour_hero a{
  color: #fff;
}

#upto_hero{
  background-image: url('../img/eric_nam_banner.gif');
}

#upto_hero a{
  color: #fff;
}

#contact_hero{
  background-image: url('../img/eric_nam_meme.png');
}

#contact_hero a{
  color: gray;
}
/* basically hides the Eric Nam name without moving the position */
#about_hero h1,
#tour_hero h1,
#upto_hero h1,
#contact_hero h1{
  opacity: 0%;
}

/* sets up the main content on about....you can use this on your other pages as well */
.maincontent{
  width: 100vw;
  margin: 0px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

/* Unique styling for the row of text, image, and twitter */
#intro{
  width: 100vw;
  text-align: left;
  position: static;
  top: 100px;
  margin: 2%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#introcopy{
 width: 30%;
 margin: 2%;
}

.about_header{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 64px;
  margin: 0px;
}

#introimage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30%;
  margin: 2%;
}

#introimage img{
  width: 420px;
}

.twitter {
  width: 30%;
  height: 600px;
  overflow-y: scroll;
  margin: 2%;
}

h2 #introcopy{
  margin: 0px;
}

.instagram img{
  width: 143px;
}

.facebook img{
  width: 143px;
}

.facebook{
  padding-left: 100px;
}

.instagram p{
font-family: 'Source Sans Pro', sans-serif;
font-size: 18px;
padding-left: 25px;
}

.facebook p{
font-family: 'Source Sans Pro', sans-serif;
font-size: 18px;
padding-left: 3px;
}

.phone p{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  text-align: center;
}

.socialicons{
  display: flex;
  flex-direction: row;
}

.about_header{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 64px;
  margin: 0px;
}


/* setup a box for the h1 and the nav to sit in */
.topnav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90vw;
  position: relative;
  left: 9%;
}


.topnavc nav{
  position: relative;
  left: 30%;
}

nav{
display: flex;
margin: 0px;
}

nav ul{
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 30px;
  margin: 0px;
  margin-left: 20px;
}

nav li{
  margin: 10px;
}

nav ul li a{
  text-decoration: none;
  color: #000;
}

header h1{
  color: black;
  font-size: 60px;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0px;
}

h2{
  color: black;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 45px;
  margin-left: 55px;
}

.home_image{
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
width: 100%;
margin: 2%;
}

/* Changed the fixed width of the image to 70% so they scale with the website as the browser changes width */
.home_image img{
  width: 80%;
  height: auto;
  margin: 25px;
  border-radius: 40px;
}

/*test podcast styles*/

.container {
  position: relative;
  width: 350px;
  margin: 2%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #C99122;
  border-radius: 30px;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/* sets up your link styles */
.text a{
  border-radius: 30px;
  background-color: #214200;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  color: white;
  text-decoration: none;
  margin: 0 auto;
  line-height: 5px;
  padding: 5px;
  border: 5px solid #214200;
}

/* What are you up to styles*/

button{
  width: 176px;
  height: 60px;
  border-radius: 30px;
  background-color: #214200;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  color: white;
  border: none;
  margin: 5px;
}

.music_buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2%;
  padding-bottom: 20px;
}

.new_music{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2%;
}

#podcastsection{
  flex-direction: column;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.upto_h{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 64px;
}

h3{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 48px;
  align-items: center;
}


h4{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 48px;
  margin: 0 auto;
}

h5{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 48px;
  margin: 0 auto;
  align-items: center;
}

h6{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 48px;
  align-items: center;
  margin: 0 auto;
}

.paradise_performance{
  display: flex;
  align-items: right;
  width: 50%;
  flex-direction: column;
  margin-bottom: 40px;
}

.been_performance{
  display: flex;
  align-items: right;
  width: 50%;
  flex-direction: column;
  padding-bottom: 20px;
}

.tweets{
  margin-bottom: 40px;
  display: flex;
  align-items: right;
  flex-direction: column;
  width: 50%;
}

/* Contact Styles*/

form input{
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 28px;
  border: 4px solid white;
  background-color: #C99122;
}


form{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 60px;
}

.contact_h{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 64px;
  margin-left: 60px;
  margin-bottom: 0px;
}

.submit{
  width: 176px;
  height: 60px;
  border-radius: 30px;
  background-color: #214200;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  color: white;
  border: none;
  margin: 5px;
}

/* Footer Styles */

footer{
  background-color: black;
  background-size: cover;
  background-position: center;
  font-size: 18px;
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  padding: 10px;
  color: white;
  height: 64px;
  width: 100%;
}

/* Off Canvas Navigation */

/*tour designs*/

.tour_info ul{
  list-style-type: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 36px;
  margin-left: 20px;
}

.tour_info ul li{
  padding: 18px;
}

.tour_info{
  width: 100vw;
  margin: 0px;
  display: flex;
  flex-direction: row;
  position: relative;
}

.tour_dates{
  display: flex;
  flex-direction: row;
  width: 25%;
}

.tour_cities{
  display: flex;
  flex-direction: row;
  width: 30%;
}

.tour_places{
  display: flex;
  flex-direction: row;
  width: 35%;
}

.gridblock h1,
.gridblock h2,
.gridblock h3{
  margin: 0 auto;
}

.tour_h{
  margin-left: 65px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 64px;
}

.merch{
  width: 100vw;
  display: flex;
  flex-direction: row;
}

/* Gridblock */

.gridblock{
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 0 auto;
  flex-direction: row;
}

.left_content,
.right_content{
  width: 47%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2%;
}

.centerme{
  text-align: center;
}

/* We'll hide the hamburger for desktop and show it on mobile */
.hamburger{
  font-size:30px;
  cursor:pointer;
  color: #fff;
  display: none;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #C99122;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/* Media Queries */

/* Smaller Desktop
@media screen and (max-height: 1024px) {
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
  }
  .topnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90vw;
    margin-left: 3%;
    margin-right: 3%;
  }

  .topnavc nav{
    position: relative;
    left: 30%;
  }

  nav{
  display: flex;
  margin: 0px;
  }

  header{
    background-image: url('../img/ericnam_home_banner.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    width: 100vw;
  }
  h2 {
      color: black;
      font-family: 'Source Sans Pro', sans-serif;
      font-size: 35px;
      align-items: center;
      margin-left: 250px;
  }

}
8/
/* iPad */
@media screen and (max-width: 768px){

  /* Global Styles */

  .topnav {
    width: 100vw;
    position: relative;
    left: 0px;
    top: 10px;
}

nav {
  width: 90%;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  margin: 0px;
  margin-left: -30px;
}

  /* Home Page */

  header h1 {
    position: relative;
    left: 20px;
    font-size: 36px;
    width: 30%;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 21px;
}

h2 {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 175px;
    font-size: 45px;
}


.home_image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-left: 16%;
}

.home_image img {
    width: 60%;
    height: auto;
    margin: 25px;
    border-radius: 40px;
}

header{
  background-image: url('../img/ericnam_home_banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 325px;
  width: 100vw;
}

  /* About Page */
  .maincontent{
    flex-direction: row;
  }

  #intro {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#introcopy {
  width: 42%;
  margin-left: 2%;
}

#introimage {
  width: 42%;
  margin-left: 2%;
  position: relative;
  top: -160px;
}

#introimage img {
  width: 320px;
}

.socialicons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.facebook {
  padding-left: 38px;
}

.twitter {
  width: 42%;
  height: 600px;
  overflow-y: scroll;
  margin: 2%;
  position: relative;
  top: -360px;
  left: 170px;
}


.phone p {
padding-left: 0px;
}

.facebook img {
  width: 100px;
}

.instagram img {
  width: 100px;
}

.about_header {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 48px;
    margin: 0px;
}

.instagram p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    padding-left: 9px;
}

  /* Upto Page */

  .gridblock {
    flex-direction: column;
    justify-content: center;
}

.paradise_performance,
.been_performance{
width: auto;
}

.upto_h {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 48px;
}


h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 36px;
}

h3{
  align-items: center;
}

h4{
  margin: 0 auto;
}

h5{
  margin: 0 auto;
  align-items: center;
}

h6{
  align-items: center;
  margin: 0 auto;
}

button {
    width: 138px;
    height: 47px;
    border-radius: 30px;
    background-color: #214200;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    color: white;
    border: none;
    margin: 5px;
}

.music_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
    padding-bottom: 20px;
    width: 690px;
}

.container {
  position: relative;
  width: 237px;
  margin: 2%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #C99122;
  border-radius: 30px;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

#podcastsection{
  flex-direction: row;
  display: flex;
  width: 200%;
  justify-content: center;
  align-items: center;
}

/*Tour Page*/

.tour_info ul {
    list-style-type: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 27px;
    margin-left: 10px;
}

.tour_dates{
  display: flex;
  flex-direction: row;
  width: 15%;
}

.tour_cities{
  display: flex;
  flex-direction: row;
  width: 37%;
}

.tour_places{
  display: flex;
  flex-direction: row;
  width: 50%;
}

/* Contact me styles*/

.contact_h{
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 48px;
  margin-left: 60px;
  margin-bottom: 0px;
}

.submit{
  width: 138px;
  height: 47px;
  border-radius: 30px;
  background-color: #214200;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  color: white;
  border: none;
  margin: 5px;
}

/*Footer styles*/

footer {
    background-color: black;
    background-size: cover;
    background-position: center;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding: 10px;
    color: white;
    height: 70px;
    width: 100%;   
}

#keepme{
  position: absolute;
    bottom: 0;
}

}


/* iPhone */
@media screen and (max-width: 320px){

  nav ul{
    display: none;
  }

  .hamburger{
    font-size:30px;
    cursor:pointer;
    color: #000;
    display: inline;
    position: relative;
    left: 80%;
  }

  .about_header {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 27px;
    margin: 0px;
}

  #intro,
  #introimage,
  .twitter {
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#introimage{
  top: 0px;
}

#introimage img {
  width: 290px;
}

.twitter{
  width: 280px;
  left: 0px;
  top: -10px;
}

.socialicons{
  flex-direction: row;
}


#introcopy{
  width: 100vw;
}

footer{
  font-size: 10px;
}

/*Home styles*/

header {
    background-image: url(../img/ericnam_home_banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 138px;
    width: 100vw;
}

header h1 {
    position: relative;
    left: 80px;
    font-size: 18px;
}

h2 {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    margin-left: 70px;
    font-size: 24px;
}

.contact_h {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 48px;
  margin-left: 0px;
  margin-bottom: 0px;
}

form input{
  margin: 10px 0px;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 28px;
  border: 4px solid white;
  background-color: #C99122;
  width: 250px;
}

.contactme {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  padding: 2%;
}


form{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 0px;
}

#keepme{
  position: relative;
}

/*About styles*/

#intro {
    width: 100vw;
    text-align: left;
    font-size: 11px;
    position: static;
    top: 100px;
    margin: 2%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.instagram img {
    width: 67px;
    padding-left: 10px;
}

.facebook img{
  width: 67px;
  padding-left: 5px;
}

.facebook p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
}

.instagram p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 10px;
    padding-left: 16px;
}

.phone p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-align: center;
}

introimage img {
    width: 250px;
    padding-left: 25px;
}

/*Tour styles*/

.tour_h {
    margin-left: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
}

.tour_info ul {
    list-style-type: none;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 12px;
    margin-left: 10px;
}

/*Up to styles*/

.upto_h {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 24px;
}

h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

.container {
  position: relative;
  width: 130px;
  margin: 2%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 30px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #C99122;
  border-radius: 30px;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

button {
    width: 58px;
    height: 17px;
    border-radius: 30px;
    background-color: #214200;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 8px;
    color: white;
    border: none;
    margin: 0px;
}

.music_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2%;
    padding-bottom: 20px;
    width: 210px;
}

#music_video{
  width: 300px;
  height: 180px;
}

#performance{
  width: 300px;
  height: 180px;
}

#extra_vids{
  width: 300px;
  height: 180px;
}

#podcastsection{
  flex-direction: column;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.left_content, .right_content {
  width: 95%;

}

footer {
    background-color: black;
    background-size: cover;
    background-position: center;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    padding: 10px;
    color: white;
    height: 38px;
    width: 100%;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    background-color: #C99122;
    color: white;
}



}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
